body{
    text-align: center;
    font-size: min(4vw,25px);
}
input{
    height:3vw;
    max-height: 30px;
    font-size: min(3vw,20px);
}
table{
    margin:0 auto;
}
.back{
    margin-left: 70vw;
}

 .back button{
        border-radius: 20px;
        padding-top:5px;
        color: blue;
        margin-right: 45vw;
        text-decoration: none;
        width:5vw;
        min-width: 70px;
        height:3vw;
        min-height: 25px;
        max-height:40px;
        font-size:min(2vw,15px);
 }

.name{
    font-size: min(3vw,20px);
    margin-top: 20px;
}
td.td2 input, td.td2 div{
    margin-left: 2vw;
}

.text{
    margin-top: 5px;
}
td input{
    width:15vw;
    max-width: 150px;
}

.number{
    margin-top: 10px;
    margin-bottom: -20px;
}

.null{
    margin-bottom: 100px;
}
.null input{
    width:30vw;
    max-width: 300px;
}

.data{
    margin-top: -90px;
}
.code{
    margin-top: 10px;
}
input.code2{
    width:10vw;
    max-width: 100px;
}
.sum{
    margin-top: 30px;
    margin-left:100px;
    margin-bottom: -20px;
}

.gacha button{
    margin-top:50px;
    text-decoration: none;
    width:6vw;
    min-width: 80px;
    height:3vw;
    min-height: 25px;
    max-height:40px;
    font-size:min(2vw,15px);
    border-radius: 20px;
    color: red;
}