body{
    font-size:clamp(15px, 3vw, 20px);
  }
  hr{
    width:90vw;
    margin:0 auto;
  }
  button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
  div.buttn2 button{
    position:absolute;
    top:120px;
    right: 0;
    margin-right:20vw;
    min-width: 70px;
    color: rgb(75, 189, 246);
}
p.shiharai{
    font-weight: bold;
    width: 100vw;
    font-size:clamp(15px, 4vw, 25px);
    margin:70px 0 0 0;
    text-align: center;
}
  .allprice{
    font-size:clamp(15px, 4vw, 25px);
    width: auto;
    float: right;
    margin-right: 10vw;
    margin-top: 3vw;
   
  }
  input,select{
    margin: 10px auto;
    width:20vw;
    min-width: 200px;
    height:3vw;
    min-height: 30px;
    text-align:center;
    border: solid 2px black;
    font-size: clamp(15px, 3vw, 20px);
  }
  div.addres{
    text-align: center;
    margin-top:20px;
  }
  div.addres p.input{
    margin-top: 20px;
  }
  p.select{
    text-align: center;
  }
  div.card{
    text-align: center;
    margin-top:7vw;
  }
  p.kin{
    margin-top: 50px;
  }
  table{
    margin:0 auto;
  }
  select.month,select.year{
    width:6vw;
    min-width: 60px;
  }
  select.year{
    margin-left:2vw;
  }
  .gachab{
    text-align: center;
    margin-top: 13vw;
    padding-bottom: 130px;
  }
  .gachab button{
    display: block;
    font-size:clamp(10px, 3vw, 25px);
    width:20vw;
    max-width: 250px;
    margin:0px auto;
    color:red;
  }