body{
    font-size:clamp(15px, 3vw, 20px);
  }
  button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button button{
    margin-top: 1.5vw;
    width:20vw;
    max-width: 200px;
    height:6vw;
    max-height:45px;
    color:red;
}
.button img{
    width:7vw;
    max-width: 60px;
}

p {
    text-align: center;
}
div.img{
    float:right;
    width:50vw;
    text-align: center;
    margin-right:10vw;
}
div.img img{
    width:50vw;
    height:auto;
}


.slide {
    float: right;
    width: 28vw;
    height:28vw;
    margin-right:2vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border:solid 1px black;
}
.slide-inner {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}
.slide-item{
    width:28vw;
    height:28vw;
    object-fit:cover;
    border: 1px solid #ddd;
}
.slide-item img {
    width:28vw;
    height:28vw;
}
@keyframes slide-flow {
     0% {transform: translateX(0);}
 100% {transform: translateX(-100%);}
}
.bottom{
    width:100vw;
    float: right;
    margin-top: 8vw;
}
.display_none {
    visibility: hidden;
    margin: 3rem auto;
    padding: 4%;
    background-color: whitesmoke;
}
video{
    position: absolute;
    width: 70vw;
    top:100px;
    left:15vw;
    z-index: 80;
}
.backv{
    visibility: hidden;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}

