body{
    font-size:clamp(15px, 3vw, 20px);
  }

  .hiroaka{
    background-image: url(../image/hiroaka/back.png);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.jojo{
    background-image: url(../image/jojo/jojoback.jpg);
    background-attachment: fixed;
    background-size: contain;
}
.hiroaka p,.doragon p{
    color:black;
}
.juju p,.jojo p,.one p{
    color: white;
}
.else p{
    color: black;
}
.juju{
    background-image: url(../image/juju/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;  
}
.doragon{
    background-image: url(../image/doragon/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.one{
    background-image: url(../image/one/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;  
}
.else{
    background-color: white;
}
div.imagebox{
    margin-top:140px;
}

  button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
.button {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 150px;
}

.button button{
    width:20vw;
    max-width: 200px;
    height:6vw;
    max-height:45px;
    color:red;
}
p {
    text-align: center;
    font-weight: bold;
}
div.img1{
    float:right;
    width:50vw;
    text-align: center;
    margin-right:10vw;
}
div.img1 img{
    width:50vw;
    height:auto;
}


.slide {
    float: right;
    width: 28vw;
    height:28vw;
    margin-right:2vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    border:solid 1px black;
}
.slide-inner {
  display: flex;
  animation: slide-flow 20s infinite linear 1s both;
}
.slide-item{
    width:28vw;
    height:28vw;
    object-fit:cover;
    border: 1px solid #ddd;
}
.slide-item img {
    width:28vw;
    height:28vw;
}
@keyframes slide-flow {
     0% {transform: translateX(0);}
 100% {transform: translateX(-100%);}
}
.bottom{
    width:100vw;
    float: right;
    margin-top: 8vw;
}
.display_none {
    display: none;
    position:absolute;
    margin: 3rem auto;
    padding: 4%;
    top: -100px;
    
}
video{
    position: absolute;
    width: 70vw;
    top:100px;
    left:15vw;
    z-index: 80;
}
.backv{
    display:none;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}
div.ba{
    position: absolute;
    bottom: 0;
    width:100vw;
    height:90px;
    background-color: white;

  }

