body{
    font-size:clamp(15px, 3vw, 20px);
    text-align: center;
}

/*背景デザイン*/
.hiroaka{
    background-image: url(../image/hiroaka/back.png);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.jojo{
    background-image: url(../image/jojo/jojoback.jpg);
    background-attachment: fixed;
    background-size: contain;
}
.hiroaka p,.doragon p,.one p{
    color:black;
}
.else p{
    color: black;
}
.juju{
    background-image: url(../image/juju/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;  
}
.doragon{
    background-image: url(../image/doragon/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.one{
    background-image: url(../image/one/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;  
}
.else{
    background-color: rgb(245, 245, 206);
}
/* 背景終了*/

.top{
<<<<<<< HEAD
    padding-top: 100px;
=======
>>>>>>> ac4b04c3ad5a9b650f4f2c33cf27f2b82effe995
    margin-bottom: 3vw;
}
.top img {
    width:80%;
    margin: auto;
}
.image img {
    display: block;
    margin: auto;
}

/*景品文字*/
span{
    font-weight: bold;
    text-shadow:
            1px 1px 0px #fff, -1px -1px 0px #fff,
           -1px 1px 0px #fff,  1px -1px 0px #fff,
            1px 0px 0px #fff, -1px -0px 0px #fff,
            0px 1px 0px #fff,  0px -1px 0px #fff;
}
span.A,span.B,span.C,span.D{
    font-size: 3vw;
    margin-right:1vw;
}
span.A{
    color:red;
}
span.B{
    color:rgb(27, 155, 27);
}
span.C{
    color:rgb(69, 133, 224);
}
span.D{
    color:rgb(80, 104, 43);
}

/*景品画像*/
.bc{
    display: flex;
    margin:0 auto;
}
.keihin1{
    width:100vw;
}
.keihin1 img{
    width:30vw;
    min-width:200px;
    background-image: url("../image/back1.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
}
.keihin2{
    width: 50vw;
}
.keihin2 img{
    width:35vw;
    min-width:200px;
    background-image: url("../image/back1.png");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
}
.keihin2 img,.keihin2 p{
    padding-left: 10vw;
}
.keihin3{
    width:50vw;
    margin-top:10vw;
}
.keihin3 img{
    width: 35vw;
    min-width: 200px;
    background-image: url("../image/back1.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.keihin3 img,.keihin3 p{
    padding-right:10vw;
}
.keihin4{
    width:100vw;
    margin-top: 2vw;
}
.keihin4 img{
    width: 20vw;
    min-width: 150px;
    background-image: url("../image/back.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.kazu{
    margin-top: 7vw;
}
.kazu p{
    font-weight: bold;
}
.jojo .kazu p,.juju .kazu p,.one .kazu p{
    color:white;
}
input{
    margin: 10px auto;
    width:20vw;
    min-width: 200px;
    height:3vw;
    min-height: 30px;
    text-align:center;
    border: solid 2px black;
    font-size: clamp(15px, 3vw, 20px);
    background-color: white;
  }
  button{
    font-size:clamp(10px, 2vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:13vw;
    min-width:100px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
    margin-top:2vw;
  }
  .buy button{
    margin-top: 5vw;
    color:blue
  }
  .gachab button{
    color:red;
  }
  .back button{
    color: rgb(75, 189, 246);
  }