h1 {
    text-align: center;
}
div{
    width:100vw;
    height:200px;
    background-color: rgb(158, 162, 164);
}
div img.c{
    width:100px;
    height:100px;
}

img.d {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.next,.fin {
    padding:16px 24px;
    display: block;
    margin:auto;
    margin-top:50px;
    text-decoration: none;
    text-align: center;
    border: 2px;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    color: red;
    box-shadow:0px 2px 4px rgb(177, 177, 177);
    width:100px;
    height:20px;
    font-size: large;
}

.change {
    padding-top: 10px;
    display: inline-block;
    margin-left: 65%;
    text-align: center;
    text-decoration: none;
    border: 2px;
    border-radius:20px;
    border-color: black;
    background-color: white;
    color: rgb(93, 214, 95);
    box-shadow:0px 2px 4px rgb(177, 177, 177);
    width: 90px;
    height: 30px;
    font-size: medium;
}

p {
    display:block;
    text-align: center;
}

.place {
    display: block;
    text-align: center;
}