body{
    font-size:clamp(15px, 3vw, 20px);
  }
h1 {
    text-align: center;
    font-size:clamp(15px, 5vw, 30px);
    font-weight: bold;
}
div.box{
    display: flex;
    margin-top: 30px;
}
div.img{
    width:80vw;
    height:30vw;
    background-color: rgb(243, 229, 205);
    margin: 10vw auto 0 auto;
    overflow: hidden;
    
}
div img.c{
    width: 50vw;
    max-width:700px;
    opacity: 0.5;
}

img.d {
    position: absolute;
    right:5vw;
    width: 50vw;
}

button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
    
  .next button{
    font-size:clamp(10px, 4vw, 25px);
    width:15vw;
    color:blue;
  }
  .nextb{
    text-align: center;
    margin-top:15vw;
  }

p {
    display:block;
    text-align: center;
}

.place {
    display: block;
    text-align: center;
}