body{
    font-size:clamp(15px, 3vw, 20px);
  }

  .hiroaka{
    background-image: url(../image/hiroaka/back.png);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.jojo{
    background-image: url(../image/jojo/jojoback.jpg);
    background-attachment: fixed;
    background-size: contain;
}
.hiroaka p,.doragon p,.one p{
    color:black;
}
.jojo .kazu p,.juju .kazu p,.one .kazu p{
  color: white;
}
.else p{
    color: black;
}
.juju{
    background-image: url(../image/juju/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;  
}
.doragon{
    background-image: url(../image/doragon/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;  
}
.one{
    background-image: url(../image/one/back.webp);
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;  
}
.else{
    background-color: white;
}

h1 {
    text-align: center;
    font-size:clamp(15px, 5vw, 30px);
    font-weight: bold;
}
div.box{
    display: flex;
    margin-top: 30px;
}
div.img1{
    width:80vw;
    height:30vw;
    background-color: rgb(243, 229, 205);
    margin: 10vw auto 0 auto;
    overflow: hidden;
    
}
div img.c{
    width: 50vw;
    max-width:700px;
    opacity: 0.5;
}

img.d {
    position: absolute;
    right:5vw;
    width: 50vw;
}

button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
    
  .next button{
    font-size:clamp(10px, 2vw, 15px);
    width:15vw;
    color:blue;
  }
  .nextb{
    text-align: center;
    margin-top:15vw;
    padding-bottom: 150px;
  }

p {
    display:block;
    text-align: center;
}

.place {
    display: block;
    text-align: center;
}
h1{
  margin-top: 140px;
  font-weight: bold;
  text-shadow:
          1px 1px 0px #fff, -1px -1px 0px #fff,
         -1px 1px 0px #fff,  1px -1px 0px #fff,
          1px 0px 0px #fff, -1px -0px 0px #fff,
          0px 1px 0px #fff,  0px -1px 0px #fff;
}
.A,.B,.C,.D{
  font-size: 3vw;
  margin-right:1vw;
}
.A{
  color:red;
}
.B{
  color:rgb(27, 155, 27);
}
.C{
  color:rgb(69, 133, 224);
}
.D{
  color:rgb(80, 104, 43);
}
div.ba{
  position: absolute;
  bottom: 0;
  width:100vw;
  height:90px;
  background-color: white;
}
