body{
    text-align: center;
}
input{
    width:20vw;
    min-width:150px;
    height:3vw;
    min-height:20px;
    max-height:25px;
}
  
.list button{
    border-radius: 20px;
    color: #6fa1ff;
    width:5vw;
    min-width: 60px;
    height:3vw;
    min-height: 25px;
    max-height:30px;
    font-size:min(2vw,10px);
    margin-left: 54%;
}

.place{
    font-size: 20px;
    margin-right: 150px;
    margin-top: -20px;
    margin-bottom: 20px;
}


.flex {
    display: flex;
    justify-content: center;
}
.button{
    border-radius: 20px;
    width:5vw;
    min-width: 60px;
    height:3vw;
    min-height: 25px;
    max-height:30px;
    font-size:min(2vw,10px);
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
.post {
    display: block;
    height: 20px;
    margin-top: 3px;
    width:14vw;
    min-width:80px;
}

.prefecture{
    margin-right: 150px;
    margin-top: 10px;
}
  
.town{
    margin-right: 100px;
    margin-top: 10px;
}

.mansion{
    margin-right: 54px;
    margin-top: 10px;
}

.push button{
    margin-top:50px;
    border-radius: 20px;
    color: red;
    width:5vw;
    min-width: 70px;
    height:3vw;
    min-height: 25px;
    max-height:40px;
    font-size:min(2vw,15px);
}
.push{
    display:block;
    text-align: center;
}