body{
    text-align:center;
    font-size:clamp(15px, 3vw, 20px);
  }
  div.a{  
    text-align:center;
    font-size:clamp(15px, 3vw, 20px);
      margin-top: 20px;
  }
  input{
    margin: 10px auto;
    width:20vw;
    min-width: 200px;
    height:3vw;
    min-height: 30px;
    text-align:center;
    border: solid 2px black;
    font-size: clamp(15px, 3vw, 20px);
  }
    
    button{
      font-size:clamp(10px, 3vw, 20px);
      border:solid 1px black;
      text-align:center;
      width:10vw;
      min-width:90px;
      height:5vw;
      max-height:40px;
      min-height: 20px;
      border-radius: 25px;
      background-color: rgb(240, 241, 241);
    }
    button.ajaxzip3{
      font-size:clamp(10px, 3vw, 20px);
      border:solid 1px black;
      text-align:center;
      width:10vw;
      min-width:90px;
      height:5vw;
      max-height:35px;
      border-radius: 25px;
      background-color: rgb(240, 241, 241);
    }
    
    .place{
        margin-top: 3vw;
    }
    .addres{
    
      text-align:center;
      font-size:2vw;
    }
    div.button{
      text-align: center;
    }
    button.ajaxzip3{
    width:10vw;
    min-width:30px;
    font-size:clamp(7px, 2vw, 15px);
    }
    div.p{
      width:40vw;
    }
   .post{
    text-align: center;
    margin-left:12.5vw;
    margin-right:2vw;
   }
   .push{
    margin-top: 50px;
   }
   .push button{
    color: rgb(38, 204, 13);
   }
   form{
    margin-top: 140px;
    padding-bottom: 140px;
   }