.all {
    height: 150px;
    width: 500px;
    margin:0 auto;
    text-align: center;
}

button{
    position: relative;
    margin-top: 10vw;
    background-color: #aae9f7;
    width: 10vw;
    height: 3vw;
    font-size: 20px;
    min-width: 100px;
    min-height: 35px;
    border-radius: 20px;
}

input{
    width: 20vw;
    height: 2vw;
    max-width: 200px;
    min-height: 20px;
}

p{
    font-size: 150%;
}


