.all{
    height: 150px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.red{
    background-color: #ea768b;
    width: 25vw;
    height: 5vw;
    margin-top: 6vw;
    font-size: 30px;
    border-radius: 20px;
    min-height: 50px;
    min-width: 280px;
}


.blue{
    background-color: #98c7ed;
    width: 25vw;
    height: 5vw;
    margin-top: 6vw;
    font-size: 30px;
    border-radius: 20px;
    min-height: 50px;
    min-width: 280px;
}