.rogout{
    position: absolute;
    top:35px;
    right: 100px;
    width: 90px;
    height: 45px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.toroku{
    text-align: center;
}

.rogout{
    background-color: #db4158;
}

.toroku{
    color: #4141db;
}