.rogout{
    position: absolute;
    top:0;
    right:0;
    color: #db415a;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.toroku{
    text-align: center;
    color: #ff9d09;
}
