h1{
    text-align: center;
}
h2{
    text-align: center;
}

table{
    margin-left: 35vw;
}
table input{
    width: 20vw;
    height: 3vw;
    font-size: 20px;
}

td p{
    font-size:min(2vw,20px);
    font-size:max(1.5vw,5px);
}

.right{
    position: absolute;
    top: 1vw;
    right: 5vw;
}

.back{
    position: fixed;
    right: 18vw;
    top: 3vw;
    background-color: rgb(176, 239, 172);
}

button{
    width: 8vw;
    min-width: 70px;
    height:4vw;
    max-height:40px;
    border-radius: 20px;
}

.logout{
    position: fixed;
    right: 7vw;
    top: 3vw;
    background-color: rgb(243, 156, 156);
}

.toroku{
    position: fixed;
    right: 7vw;
    bottom: 3vw;
    background-color: rgb(150, 150, 234);
}