h1{
    text-align: center;
}

.in{
    margin-left: 30vw;
    margin-top: 50px;
    width: 10vw;
}

h2{
    position: absolute;
    top: 15vw;
    right: 30vw;

}

.brn{
    position: absolute;
    bottom: 500px;
    right: 35vw;
    width: 10vw;
}