body{
    position:relative;

}
.rogout{
    position: absolute;
    top: 15px;
    right:100px;
    background-color: #f190a0;
    border-radius: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    margin-left: 2vw;
}

.shohin{
    display: flex;
    margin: 0 auto;
}

.left{
    margin-left: 10vw;
}

td p{
    font-size:min(2vw,20px);
    font-size:max(1.5vw,5px);
    width: 10vw;
}

table input{
    width: 12vw;
    height: 3vw;
    font-size: 15px;
}

.Ssetumei{
    margin:0 auto;
    font-size: 25px;
    width: 30vw;
    height: 15vw;
    margin-top: 15px;
    margin-left: 6vw;
}
.btn{
    float: right;
    margin-right: 20vw;
    margin-bottom: 20vw;
}

table{
    margin-left: 5vw;
}

.table input{
    width: 10vw;
    height:3vw;
    font-size: 18px;
    margin-left: 2vw;
    min-width: 120px;
    min-height: 20px;

}

.sakujyo{
    background-color: #f5a5d1;
    width: 5vw;
    height: 3vw;
    font-size: 15px;
    border-radius: 20px;
    min-height: 35px;
    min-width: 40px;
}

.kousin{
    background-color: #a9a0fd;
    width: 5vw;
    height: 3vw;
    font-size: 15px;
    border-radius: 20px;
    min-height: 35px;
    min-width: 40px;
}

.textbox{
    width: 10vw;
    height: 3vw;
    font-size: 20px;
    margin-left: 5vw;
}
