h1{
    text-align: center;
}

h2{
    text-align: center;
}

.example{
    font-size: 200%;
}
table{
    margin:0 auto;   
}

.button{
    position:absolute;
    top: 1vw;
    right: 5vw;
}

button{
    width: 90px;
    height: 45px;
    margin-right: 5vw;
}

.keihin{
    position:absolute;
    top: 1vw;
    left: 5vw;
    margin-left: 20vw;
    border-radius: 20px;
    background-color: rgb(160, 197, 241);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
}

.syouhintouroku{
    background-color: rgb(238, 184, 126);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.rogout{
    background-color: #f88e91;
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
    border-radius: 20px;
}