h1{
    text-align: center;
}

table{
    margin-left: 20vw;
    margin-top: 50px;
    width: 10vw;
}

h2{
    position: absolute;
    top: 35vh;
    right: 18vw;

}

.brn{
    position: absolute;
    bottom: 45vh;
    right: 30vw;
}

.hai{
    color: #7741db;
}

.iie{
    color: #db4158;
}