body{
    position:relative;
}
.rogout{
    position: absolute;
    top:0;
    right:0;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}
.shohin{
    display: flex;
    margin-left: 350px;
}

.Ssetumei{
    text-align: center;
    font-size: 18px;
    width: 50vw;
    padding-top: 10px;
    margin-right: 250px;
}
.btn{
    float: right;
    margin-right: 100px;
    margin-bottom: 100px;
}

.shosai input{
    width: 200px;
    height:50px;
    font-size: 18px;
}