h1{
    text-align: center;
}

h2{
    text-align: center;
}

.example{
    table-layout: fixed;
    font-size: 150%;
    border: solid 2px black;
    border-collapse: collapse;
    width: 1000px;
}

.boder{
    border: solid 2px black;
    border-collapse: collapse;
}

table td{
    font-size: 20px;
}

.name{
    width: 40vw;
    text-align: center;
}
.rank{
    width: 10vw;
    text-align: center;
}
.stock{
    width: 20vw;
    text-align: center;
}

table{
    margin:0 auto;  
    font-size: 5px; 
}

.left{
    position: absolute;
    top: 1vw;
    left: 5vw;
}

.button{
    position:absolute;
    top: 1vw;
    right: 5vw;
}

button{
    width: 90px;
    height: 45px;
    margin-right: 5vw;
}

.back{
    border-radius: 20px;
    background-color: rgb(176, 239, 172);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
}

.syohin{
    border-radius: 20px;
    background-color: rgb(160, 197, 241);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
}

.keihintouroku{
    background-color: rgb(238, 184, 126);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.rogout{
    background-color: #f88e91;
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.message{
    text-align: center;
}