h1{
    text-align: center;
}
 
.rogout{
    position: absolute;
    width: 90px;
    height: 45px;
    right: 5vw;
}
 
p{
    text-align: center;
    font-size: 150%;
    padding-top: 5%;
}
 
::placeholder{
    text-align: center;
}

table,th,td{
    margin:0 auto;  
    margin-top: 10vw;
    border: 3px solid black;
    border-collapse: collapse;
}

.boder{
    width: 10vw;
    height: 6vw;
}

.boder2{
    width: 30vw;
    height: 6vw;
} 
 
.sakujyo{
    background-color: #aca5f7;
    position: absolute;
    top: 5vw;
    right: 1vw;
    border-radius: 20px;
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 15px;
    border-radius: 20px;
}
 
.back{
    right: 18vw;
    border-radius: 20px;
    background-color: rgb(176, 239, 172);
    width: 9vw;
    height: 2vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 15px;
}

.rogout{
    background-color: #f7a6b2;
    top: 1vw;
    right: 1vw;
    border-radius: 20px;
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 15px;
    border-radius: 20px;
}
 
.font{
    font-size: 20px;
    font-weight: bold;
}
 
