h1{
    text-align: center;
}

.example{
    font-size: 150%;
}
table,th,td{
    margin:0 auto;   
    margin-top: 10vw;
    border: 3px solid black;
    border-collapse: collapse;
}

td{
    width: calc(20%);
}

button{
    position: absolute;
    width: 90px;
    height: 45px;
    right: 5vw;
}
