h1{
    text-align: center;
}

h2{
    text-align: center;
}

.example{
    font-size: 200%;
}
table{
    margin:0 auto;   
}

.button{
    position:absolute;
    top: 20px;
    right: 5vw;
}

button{
    width: 90px;
    height: 45px;
    margin-right: 5vw;
}

.button2{
    position:absolute;
    top: 20px;
    left: 5vw;
    margin-left: 20vw;
}

.syouhin{
    color: #41db6a;
}

.keihintouroku{
    color: #6241db;
}

.rogout{
    color: #db4146;
}