h1{
    text-align: center;
}

.example{
    font-size: 150%;
}
table,th,td{
    margin:0 auto;   
    margin-top: 10vw;
    border: 3px solid black;
    border-collapse: collapse;
}

td{
    width: calc(20%);
}

button{
    position: absolute;
    width: 90px;
    height: 45px;
    right: 5vw;
}

.right{
    position: absolute;
    top: 1vw;
    right: 5vw;
}

.back{
    right: 18vw;
    border-radius: 20px;
    background-color: rgb(176, 239, 172);
    width: 10vw;
    height: 3vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 20px;
}

.rogout{
    background-color: #f1b4bf;
    width: 9vw;
    height: 2vw;
    min-height: 35px;
    min-width: 20px;
    font-size: 15px;
    border-radius: 20px;
}


