h1{
    text-align: center;
}

h2{
    text-align: center;
}

.example{
    font-size: 200%;
}
table{
    margin:0 auto;   
}

.button{
    position:absolute;
    top: 20px;
    right: 5vw;
}

button{
    width: 90px;
    height: 45px;
    margin-right: 5vw;
}

.button2{
    position:absolute;
    top: 20px;
    left: 5vw;
    margin-left: 20vw;
}

.keihin{
    background-color: rgb(75, 14, 244);
}

.syouhintouroku{
    background-color: rgb(229, 7, 241);
}

.rogout{
    background-color: #f70a12;
}