@charset "UTF-8";

body{
  min-height:100%;
}
p{  
  text-align:center;
  font-size: min(3vw,20px);
  margin-bottom: 2vw;
}

input{
  margin: 10px auto;
  width:20vw;
  min-width: 200px;
  height:3vw;
  min-height: 30px;
  text-align:center;
  border: solid 2px black;
  font-size: min(3vw,20px);
}
form{
  margin-top: 4vw;
}

button{
  font-size:clamp(10px, 3vw, 20px);
  border:solid 1px black;
  text-align:center;
  width:10vw;
  min-width:90px;
  height:5vw;
  max-height:40px;
  min-height: 20px;
  border-radius: 25px;
  background-color: rgb(240, 241, 241);
}

.toroku,.next{
  color: #6fa1ff;
}
.login {
  color: rgb(228, 83, 83);
  margin-top:4vw;
  margin-bottom:2vw;
}

div{
  margin:0 auto;
  text-align: center;
}