

#wrap{
    position: relative;
    min-height: 100vh;
}
div.footer{
    position: absolute;
    bottom: 0;
    width:100vw;
    height:90px;
    background: linear-gradient(to bottom right,rgb(174,251,138,0.25),rgb(0,204,249,0.25));
}