/*ヘッダー全体*/
div.header{
    position: fixed;
    z-index: 100;
    top:0;
    width:100vw;
    height:90px;
    background-image: url(../img/header.png);
    
}
div.h{
    top:0;
    width:100vw;
    height:100px;
    z-index: 90;
    background: linear-gradient(to bottom right,rgb(0,204,249,0.25),rgb(174,251,138,0.25));
}

/*タイトルとアイコン*/
div.img{
    top:0;
    width:100vw;
    height:90px;
    text-align: center;
}
span.title{    
    line-height: 90px;
    font-size: 20px;
    font-family:cursive;
    font-weight: bold;
}