
/*カルーセルスライダー*/
  @keyframes display {
    0% {
      transform: translateX(10vw);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    15%{
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(-10vw);
      opacity: 0;
    }
    30% {
      transform: translateX(-10vw);
      opacity: 0;
    }
    100% {
      transform: translateX(-10vw);
      opacity: 0;
    }
  }
  img.stopper{
    position: absolute;
    width:80vw;
    top:0;
  }
  .pic-ctn {
    position: relative;
    width: 100vw;
    margin-top:150px;
  }
  
  .pic-ctn > img.pic {
    position: absolute;
    width:80vw;
    left:0;
    right:0;
    top: 0px;
    margin:0 auto;
    opacity: 0;
    animation: display 72s infinite;
    z-index: 60;
  }
  
  img.pic:nth-child(2) {
    animation-delay: 12s;
  }
  img.pic:nth-child(3) {
    animation-delay: 24s;
  }
  img.pic:nth-child(4) {
    animation-delay: 36s;
  }
  img.pic:nth-child(5) {
    animation-delay: 48s;
  }
  img.pic:nth-child(6) {
    animation-delay: 60s;
  }
  img.pic:nth-child(7) {
    animation-delay: 72s;
  }
  .pic-ctn img{
    overflow: hidden;
  }
.back{
    margin-top: 0;
}
.back img{
  width:80vw;
  min-width: 250px;
  height:auto;
}
.ninki{
  display: grid;
  width:80vw;
  margin:0 auto;
  grid-template-columns: auto auto ;
  grid-template-rows: repeat(auto,auto), 100px ;
  margin-top:2vw;
}
.ninki div{
  margin:0 auto;
}
div.ci{
  width: 30vw;
    max-width:300px;
    margin-top:50px;
    height:30vw;
    max-height:300px;
  text-align: center;
  margin:0 auto;
  margin-top: 3vw;
  margin-bottom: 15px;
}
.syohin1{
  margin-top: 3vw;
}
div.syohin1 img{
  width:100%;
  height:100%;
  object-fit: contain;
  margin:auto;
}

h2{
  margin-top: 10vw;
  margin-left:5vw;
  font-size: 3vw;
  font-weight: bold;
}
.lot{
  text-align: center;
  margin-top: 100px;
}
.lot img{
  width:50vw;
}
.osusume{
  display: grid;
  margin:0 auto;
  grid-template-columns: auto auto ; 
  grid-template-rows: repeat(auto,auto), 100px ;
  margin-top: 4vw;
}
.osusume div{
  margin:0 auto;
}
.osusume p{
  text-align: center;
  font-size: 2vw;
}
.osusume img{
  margin-bottom: 3vw;
  margin-top:4vw;
  width:20vw;
  border-radius: 50%;
}
p.jojo{
  position:relative;
  width: 50vw;
  }
  p.jojo img{
    z-index: 10;
  }

  p.jojo:after{
  content: "";
  position: absolute;
  top:0;
  right:30vw;
  display: inline-block;
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  }

  p.jojo:hover:after{
  background: url(../img/スタンド.png);
  background-size:contain;
  width:18vw;
  height:30vw;
  background-repeat: no-repeat;
  background-position: center top;
  transition :1s;
  opacity: 1;
  
  }
  p.HANTER{
    position: relative;
    width: 50vw;
    }
  p.HANTER img{
      z-index: 10;
    }
  
    p.HANTER:after{
    content: "";
    position: absolute;
    top:0;
    right:30vw;
    display: inline-block;
    pointer-events: none;
    z-index: 20;
    opacity: 0;
    }
  
    p.HANTER:hover:after{
    background: url(../img/gon.png);
    background-size:contain;
    width:23vw;
    height:30vw;
    background-repeat: no-repeat;
    background-position: center top;
    transition :1s;
    opacity: 1;
    
    }
    p.tensura{
      position: relative;
      width: 50vw;
      }
    p.tensura img{
        z-index: 10;
      }
    
      p.tensura:after{
      content: "";
      position: absolute;
      top:0;
      right:25vw;
      display: inline-block;
      pointer-events: none;
      z-index: 20;
      opacity: 0;
      }
    
      p.tensura:hover:after{
      background: url(../img/tensura2.png);
      background-size:contain;
      width:23vw;
      height:30vw;
      background-repeat: no-repeat;
      background-position: center top;
      transition :1s;
      opacity: 1;
      }
      p.naruto{
        position: relative;
        width: 50vw;
        }
      p.naruto img{
          z-index: 10;
        }
      
        p.naruto:after{
        content: "";
        position: absolute;
        top:2vw;
        right:30vw;
        display: inline-block;
        pointer-events: none;
        z-index: 20;
        opacity: 0;
        }
      
        p.naruto:hover:after{
        background: url(../img/naruto2.png);
        background-size:contain;
        width:23vw;
        height:30vw;
        background-repeat: no-repeat;
        background-position: center top;
        transition :1s;
        opacity: 1;
        }
        p.conan{
          position: relative;
          width: 50vw;
          }
        p.conan img{
            z-index: 10;
          }
        
          p.conan:after{
          content: "";
          position: absolute;
          top:0;
          right:30vw;
          display: inline-block;
          pointer-events: none;
          z-index: 20;
          opacity: 0;
          }
        
          p.conan:hover:after{
          background: url(../img/kid.png);
          background-size:contain;
          width:18vw;
          height:30vw;
          background-repeat: no-repeat;
          background-position: center top;
          transition :1s;
          opacity: 1;
          }
          p.shadow{
            position: relative;
            width: 50vw;
            }
          p.shadow img{
              z-index: 10;
            }
          
            p.shadow:after{
            content: "";
            position: absolute;
            top:3vw;
            right:33vw;
            display: inline-block;
            pointer-events: none;
            z-index: 20;
            opacity: 0;
            }
          
            p.shadow:hover:after{
            background: url(../img/すす.png);
            background-size:contain;
            width:18vw;
            height:30vw;
            background-repeat: no-repeat;
            background-position: center top;
            transition :1s;
            opacity: 1;
            }
            div.space{
              height:130px;
              margin-top: 10vw;
            }
            div.botton{
              position:relative;
              width: 100vw;
              height:40px;
              background-color:#ddd;
              text-align: center;
              margin-bottom: 90px;
            }
            div.botton botton{
              position:relative;
              top: 40%;
              
            }
