h2{
    font-size: min(5vw,35px);
    text-align: center;
}
button{
    border:solid 1px black;
    text-align:center;
    width:7vw;
    min-width:40px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
button.backb{
    display: block;
    font-size: min(4vw,30px);
    width: 15vw;
    max-width: 130px;
    height:6vw;
    max-height:40px;
    color:blue;
    margin:50px 15vw 0 auto;
}
p{
    font-size: min(4vw,30px);
}
input,select{
    border: solid 1px black;
    width: 30vw;
    min-width: 200px;
    height:5vw;
    max-height: 40px;
    font-size: min(3vw,25px);
    margin:0 auto;
    text-align: left;
    margin-bottom: 30px;
}
.word{
    text-align: center;
    margin-top:4vw;
}
.word p{
    text-align: left;
    margin-left:30vw;
    margin-bottom: 20px;
}
button.search{
    display: block;
    font-size: min(4vw,30px);
    width: 15vw;
    max-width: 130px;
    height:6vw;
    max-height:40px;
    color:black;
    margin:7vw auto 0 auto;
}

