body{
    font-size:clamp(15px, 3vw, 20px);
}
h2{
    text-align: center;
    font-size:clamp(15px, 4vw, 25px);
    font-weight: bold;
    margin-top:calc(3vw + 90px) ;
}
button{
        font-size:clamp(10px, 3vw, 20px);
        border:solid 1px black;
        text-align:center;
        width:10vw;
        min-width:90px;
        height:5vw;
        max-height:40px;
        min-height: 20px;
        border-radius: 25px;
        background-color: rgb(240, 241, 241);
}
button.backb{
    display: block;
    color:blue;
    margin:30px 15vw 0 auto;
}
input,select{
    margin: 10px auto;
    width:20vw;
    min-width: 200px;
    height:3vw;
    min-height: 30px;
    text-align:center;
    border: solid 2px black;
    font-size: clamp(15px, 3vw, 20px);
  }
.word{
    text-align: center;
    margin-top:4vw;
}
.word p{
    width:20vw;
    min-width: 200px;
    margin:0 auto;
    text-align: left;
}
button.search{
    display: block;
    color:black;
    margin:7vw auto 0 auto;
}
form.search{
    padding-bottom:calc(90px);
}

