body{
    font-size:clamp(15px, 3vw, 20px);
}
div.shohin{
    display:flex;
    width:80vw;
    max-height: 400px;
    margin:0 auto;
    margin-top: 50px;
}
.shohin img{
    width:40vw;
    height:40vw;
    max-width: 400px;
    max-height: 400px;
    margin-left: 5vw;
}
.name{
    margin-top: 5vw;
}
p{
    margin-top: 2vw;
    margin-left:10vw;
}
button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
button.cart{
    font-size:clamp(7px, 2vw, 15px);
    display: block;
    border-radius: 0px;
    width:15vw;
    max-width:150px ;
    margin:7vw 0 0 15vw;
}
button.backb{
    display: block;
    width: 15vw;
    min-width: 110px;
    color:blue;
    margin:10vw auto 0 auto;
}