body{
    font-size:clamp(15px, 3vw, 20px);
}
div.shohin{
    display:flex;
    width:80vw;
    max-height: 400px;
    margin:0 auto;
    margin-top: 140px;
}
input{
    margin: 10px auto;
    width:20vw;
    min-width: 200px;
    height:3vw;
    min-height: 30px;
    text-align:center;
    border: solid 2px black;
    font-size: clamp(15px, 3vw, 20px);
  }
  div.ci{
    width: 30vw;
      max-width:300px;
      margin-top:50px;
      height:30vw;
      max-height:300px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 15px;
    border: solid 2px black;
  }
  div.shohin img{
    width:100%;
    height:100%;
    object-fit: contain;
  }
.name{
    margin-top: 5vw;
}
p{
    font-size:clamp(10px, 3vw, 20px);
    margin-top: 2vw;
    margin-left:10vw;
}
p.mess{
    margin-top: 10vw;
}
.shosai{
    width: 50vw;
}
input.piece{
    width:5vw;
    min-width: 50px;
}
button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
button.cartb{
    font-size:clamp(7px, 2vw, 15px);
    display: block;
    border-radius: 0px;
    width:15vw;
    max-width:150px ;
    margin:2vw 0 0 15vw;
}
button.backb{
    display: block;
    width: 15vw;
    min-width: 110px;
    color:blue;
    margin:10vw auto 0 auto;
}
a button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
.display_none {
    visibility: hidden;
    margin: -30vw auto 0 auto;
    padding: 4%;
    position: fixed;
    width: 70vw;
    left:15vw;
    z-index: 80;
    background-color: white;
    text-align: center;
}
.display_none p{
    margin-left: 0px;
}
.backv{
    visibility: hidden;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}
.display_none button{
    margin-top:3vw;
}
