div.cart-shohin{
    display: flex;
    height:21vw;
    width:90vw;
    margin-left:3vw;
}

div.cart-shohin img{
    width:20vw;
    height:18vw;
    margin:auto 0 auto 10vw;
}
p.name{
    font-size:min(3vw,30px);
    margin:100px 0 20px 10vw;
}
div.cart-shohin p{
    font-size:min(3vw,30px);
}
.checkbox{
    width: 2vw;
    min-width:20px;
    margin-left: 5vw;
}
.date{
    margin:auto 0 auto 5vw;
    
}
.syosai{
    margin:auto 0 auto 5vw;
}
.sname{
    margin-bottom:2vw;
}
.price{
    margin-bottom:2vw;
}
button{
    border:solid 1px black;
    text-align:center;
    width:7vw;
    min-width:40px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
button.delete{
    color:red;
}
button.buy{
    color:blue;
    margin-left: 5vw;
}
label.check{
    display:flex;
    width:90vw;
    margin-left:4vw;
}
.checkbox:checked + label{
    box-shadow: 0 0 4px 2px rgb(139, 215, 247);
}
.select{
    margin:30px 0 50px 5vw;
}
.select button{
    width:9vw;
    min-width: 70px;
    height: 4vw;
    max-height: 40px;
}
button.all{
    display: block;
    font-size: 3vw;
    width: 20vw;
    height:6vw;
    max-height:60px;
    margin:0px auto;
    color:blue;
}