body{
    font-size:clamp(15px, 3vw, 20px);
}
hr{
    width:90vw;
    margin:0 auto;
}
div.cart-shohin{
    display: flex;
    height:21vw;
    width:90vw;
    margin:0 auto;
}

div.cart-shohin img{
    width:20vw;
    height:18vw;
    margin:auto 0 auto 10vw;
}
p.name{
    font-size:clamp(15px, 4vw, 25px);
    margin:100px 0 20px 10vw;
}
div.cart-shohin p{
   
}
.checkbox{
    width: 2vw;
    min-width:20px;
    margin-left: 5vw;
}
.date{
    margin:auto 0 auto 5vw;
    
}
.syosai{
    margin:auto 0 auto 5vw;
}
.sname{
    margin-bottom:2vw;
}
.price{
    margin-bottom:2vw;
}
button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
button.delete,button.buy{
    font-size:clamp(6px, 3vw, 20px);
    width:8vw;
    min-width: 20px;
}
button.delete{
    color:red;
}
button.buy{
    color:blue;
    margin-left: 5vw;
}
label.check{
    display:flex;
    width:90vw;
    margin-left:3vw;
}
.checkbox:checked + label{
    box-shadow: 0 0 4px 2px rgb(139, 215, 247);
}
.select{
    margin:30px 0 50px 5vw;
}
.select button{
    font-size:clamp(10px, 2vw, 20px);
    min-width: 50px;
}
button.all{
    display: block;
    font-size:clamp(10px, 3vw, 25px);
    width:20vw;
    max-width: 250px;
    margin:0px auto;
    color:blue;
<<<<<<< HEAD
   
}
span.cprice{
    margin-left: 5vw;
}
form{
    padding-bottom:calc(5vw + 90px);
}
.display_none {
    visibility: hidden;
    margin:0 auto;
    padding: 4%;
    position: fixed;
    width: 70vw;
    top:100px;
    left:15vw;
    z-index: 80;
    background-color: white;
    text-align: center;
    margin-top: 15vw;
}
.display_none p{
    margin-left: 0px;
}
.backv{
    visibility: hidden;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}
.display_none button{
    margin-top:3vw;
}
div.mess{
    margin-top: 140px;
    text-align: center;
}
button.home{
    margin-top: 50px;
=======
>>>>>>> ac4b04c3ad5a9b650f4f2c33cf27f2b82effe995
}