body {
    font:size 100px;
    margin-top: 25vh;
    text-align:center;
   }
.login{
    color: rgb(62, 197, 255);
    border-radius:20px;
    padding:4px 0;
    margin: 10px auto;
    width:200px;
  }
  div{
    text-align: center;
    margin-top: 200px;
    
}
  button{
    background-color: #ffffff;
    font-size:20px;
  }