body{
  text-align:center;
  
}
input{
  margin: 10px auto;
  width:25vw;
  font-size: 2vw; 
  min-width:200px;
  min-height:20px;
}
  .toroku{
    font-size: 13px;
    border-radius: 20px;
    display: block;
    width:90px;
    height:30px;
    padding-top:5px;
    box-sizing: border-box;
    border: 1px;
    background:#fff;
    box-shadow:0px 2px 4px rgb(177, 177, 177);
    text-align: center;
    color: aqua;
  }
  .addres{
    text-align:center;
    font-size:2vw;
  }
  div.post{
    width: 100vw;
  }
  div.buttn{
    display:flex;
    text-align: center;
    
  }
 .post{
  text-align: center;
  
 }

 
  
  
  