body{
  text-align:center;
  
}
p{
  
  text-align:center;
  margin-bottom:30px;
  padding:4px 0;

}
input{
  margin: 10px auto;
  width:25vw;
  font-size: 2vw; 
  min-width:200px;
  min-height:20px;
}
a{
    font-size: 2vw;
    text-align:center;
    margin-bottom:30px;
  }
  button{
    font-size:1vw;
    background-color: #ffffff;
    border-radius:20px;
    padding:4px 0;
    margin: 10px auto;
    width:15vw;
    text-align:center;
  }
  .toroku{
    color: aqua;
  }
  div{
text-align: center;

  }
  .th{
    text-align: left;
    font-size:2vw;
  }
  table{
    text-align:center;
    margin:0 auto;
  }
  .addres{
  
    text-align:center;
    font-size:2vw;
  }
  div.post{
    width: 100vw;
  }
  div.buttn{
    display:flex;
    text-align: center;
    
  }
  .auto{
  position:absolute;
  right: 0;
  margin-right:25vw;
  width:6vw;
  }
 .post{
  text-align: center;
  
 }

 
  
  
  