@charset "UTF-8";

body {
 text-align: center;
}

p{  
  text-align:center;
  font-size:clamp(15px, 3vw, 20px);
  margin-top:10vw;
}
button{
  font-size:clamp(10px, 3vw, 20px);
  border:solid 1px black;
  text-align:center;
  width:10vw;
  min-width:90px;
  height:5vw;
  max-height:40px;
  min-height: 20px;
  border-radius: 25px;
  background-color: rgb(240, 241, 241);
}
button{
  margin-top: 10vw;
}
  