body {
  font-size:clamp(15px, 3vw, 20px);
    text-align:center;
   }

   button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
  }
  
  p{
    margin-top: 20px;
  }
  
  .midasi{
    font-weight:bold ;
    margin-top: 30px;
  }
  .top{
    margin-top:100px;
  }
.toroku{
    color: rgb(62, 197, 255);
    margin: 50px auto 0 auto;
  }