body{
    text-align:center;
    
  }
  p{
    
    text-align:center;
    margin-bottom:30px;
    padding:4px 0;
  
  }
  input{
    margin: 10px auto;
    width:25vw;
    font-size:3vw;
    min-width:200px;
    min-height:20px;
  }
  a{
      font-size: 2vw;
      text-align:center;
      margin-bottom:30px;
    }
    .toroku{
      padding-top: 5px;
      margin: 10px;
      text-decoration: none;
      text-align: center;
      border: solid 1px rgb(190, 190, 190);
      border-radius: 20px;
      background-color: white;
      color:rgb(62, 197, 255);
      box-shadow:0px 2px 4px rgb(177, 177, 177);
      width:180px;
      height:60px;
      font-size: 30px;
    }
    div{
  text-align: center;
  
    }
    .addres{
    
      text-align:center;
      font-size:2vw;
    }
    div.post{
      width: 100vw;
    }
    div.buttn{
      display:flex;
      text-align: center;
      
    }
    .auto{
    position:absolute;
    right: 0;
    margin-right:25vw;
    width:6vw;
    }
   .post{
    text-align: center;
    
   }
  