body{
    font-size:clamp(15px, 3vw, 20px);
}
hr{
    width:90vw;
    margin:0 auto;
}
div.order-shohin{
    display: flex;
    height:21vw;
    width:90vw;
    margin-left:3vw;
    font-size:clamp(10px, 3vw, 20px);
}
button{
    font-size:clamp(10px, 3vw, 20px);
    border:solid 1px black;
    text-align:center;
    width:10vw;
    min-width:90px;
    height:5vw;
    max-height:40px;
    min-height: 20px;
    border-radius: 25px;
    background-color: rgb(240, 241, 241);
}
div.ci{
    width:20vw;
    height:auto;
    text-align: center;
    margin:5px 0 5px 3vw;
}
div.order-shohin img{
    width:100%;
    height:100%;
    object-fit: contain;
}
div.name{
    margin:100px 0 20px 10vw;
    width:50vw;
    margin-top:140px;
}
div.home{
    text-align: center;
}
.date{
    margin:auto 0 auto 5vw;
    
}
.syosai{
    margin:auto 0 auto 5vw;
}
p.home{
    margin-top:140px;
}
.sname{
    margin-bottom:2vw;
}
.price{
    margin-bottom:2vw;
}
button.back{
    display: block;
    font-size:clamp(10px, 3vw, 25px);
    width:20vw;
    max-width: 250px;
    margin:0px auto;
    color:blue;
    margin-top:50px;
}
div.button{
    float: right;
    margin-right: 10vw;
}
div.button2{
    padding-bottom: 140px;
}