@charset "UTF-8";

body {
 font:size 40px;
 margin-top: 25vh;
}
p{
  
  text-align:center;
  margin-bottom:30px;
  padding:4px 0;

}
input{
  margin: 10px auto;
  width:300px;
  font-size: 30px; 
}
a{
    font-size: 30px;
    text-align:center;
    margin-bottom:30px;
  }
  button{
    font-size:18px;
    background-color: #ffffff;
    border-radius:20px;
    padding:4px 0;
    margin: 10px auto;
    width:200px;
    text-align:center;
  }
  .toroku{
    color: aqua;
  }
  div{
text-align: center;

  }
  .th{
    text-align: left;
    font-size:26px;
    font-weight:1px;
  }
  table{
    text-align:center;
    margin:0 auto;
  }
  .addres{
    text-align:center;
    font-size:30px;
  }
  .post{
    text-align:center;
  }
 
  
  
  