@charset "UTF-8";

body {
 text-align: center;
}

input{
  margin: 10px auto;
  width:200px;
  font-size: 20px;
}
  .p{
    font-size:18px;
    background-color: #ffffff;
    border-radius:20px;
    padding:4px 0;
    text-align: center;
    width:200px;
    margin-bottom: 10px;
  }
  .toroku{
    color: rgb(60, 224, 224);
    margin-top: 20px;
  }
.place{
  font-size: 20px;
  margin-top: 20px;
}
.name{
  text-align: center;
}
 
  
  
  