@charset "UTF-8";

body {
 text-align: center;
}

input{ 
  margin: 10px auto;
  width:200px;
  font-size: 20px;
}
.auto {
  font-size: 13px;
  border-radius: 20px;
  display: block;
  width:90px;
  height:30px;
  padding-top:5px;
  box-sizing: border-box;
  border: 1px;
  background:#fff;
  color: rgb(0, 0, 0);
  box-shadow:0px 2px 4px rgb(177, 177, 177);
  text-decoration: none;
  text-align: center;
}
  .toroku{
    font-size: 13px;
  border-radius: 20px;
  display: block;
  width:90px;
  height:30px;
  padding-top:5px;
  box-sizing: border-box;
  border: 1px;
  background:#fff;
  color: rgb(60, 224, 224);
  box-shadow:0px 2px 4px rgb(177, 177, 177);
  text-decoration: none;
  text-align: center;
  }
.place{
  font-size: 20px;
  margin-top: 20px;
}
.name{
  text-align: center;
}
 
  
  
  